.anime {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .anime__card {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 8px solid rgb(239, 243, 11);
      box-shadow: 5px 5px 15px 5px #000000;
      max-width: 500px;
  }