.watchlist__plantowatch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column-reverse;
}

.watchlist__plantowatch__card {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 8px solid rgb(165, 165, 165);
      box-shadow: 5px 5px 15px 5px #000000;
      max-width: 500px;
  }